<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.administrate.repository.ClassRepository">

	<insert id="insertClass">
		INSERT INTO CLASS (NAME, TEACHER_ID, SLOGAN, REGISTER_DATE, MODIFY_DATE)
		VALUES (#{name}, #{teacherId}, #{slogan}, now(), now())
	</insert>

	<update id="modifyClass">
		UPDATE CLASS
		SET NAME = #{name},
			TEACHER_ID = #{teacherId},
			SLOGAN = #{slogan},
			MODIFY_DATE = now()
		WHERE NO = #{no}
	</update>

	<select id="selectAllClass" resultType="class1">
		SELECT
			NO, NAME, TEACHER_ID, SLOGAN, REGISTER_DATE, MODIFY_DATE
		FROM
			CLASS
	</select>

	<select id="selectClassByNo" resultType="class1">
		SELECT
			NO, NAME, TEACHER_ID, SLOGAN, REGISTER_DATE, MODIFY_DATE
		FROM
			CLASS
		WHERE
			NO = #{no}
	</select>

	<select id="selectClassByTeacherId" resultType="class1">
		SELECT
			NO, NAME, TEACHER_ID, SLOGAN
		FROM 
			CLASS
		WHERE 
			TEACHER_ID LIKE '%${teacherId}%'
	</select>

	<delete id="deleteClassByNo">
		DELETE FROM CLASS
		WHERE NO = #{no}
	</delete>

	<update id="modifyTeacher">
		UPDATE USER_ADMIN
		SET NAME = #{name},
			ID = #{id},
			PASSWORD = #{password}
		WHERE NO = #{no}
	</update>

	<select id="selectMinClassNo" resultType="int">
	SELECT
		MIN(NO)
	FROM
		CLASS 
	</select>
</mapper>