<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.administrate.repository.UserRepository">

	<select id="selectAdminUser" resultType="user">
		SELECT
			ID, PASSWORD, TYPE, CLASS_NO, REGISTER_DATE
		FROM 
			USER_ADMIN
		WHERE
			ID = #{id}
		AND TYPE = #{type}
	</select>

	<select id="selectStudent" resultType="user">
		SELECT
			ID, AGE, PASSWORD, SEX, IDCARD_NO, MEMBERSHIP_NO, PHONE_NO, TELEPHONE_NO, QQ_NO, EMAIL, ADDRESS, CLASS_NO, REGISTER_DATE, MODIFY_DATE
		FROM 
			USER_ADMIN
		WHERE
			ID = #{id}
	</select>

</mapper>