<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.administrate.repository.UserRepository">

	<select id="selectAdminUserById" resultType="user">
		SELECT
			ID, PASSWORD, TYPE, CLASS_NO, REGISTER_DATE
		FROM 
			USER_ADMIN
		WHERE
			ID = #{id}
	</select>

	<select id="selectStudentById" resultType="user">
		SELECT
			NO, ID, NAME, AGE, PASSWORD, SEX, IDCARD_NO, MEMBERSHIP_NO, PHONE_NO, TELEPHONE_NO, QQ_NO, EMAIL, IMAGE, ADDRESS, CLASS_NO, REGISTER_DATE, MODIFY_DATE
		FROM 
			USER_STUDENT
		WHERE
			ID = #{id}
	</select>

	<insert id="insertTeacherUser">
		INSERT INTO USER_ADMIN (ID, NAME, PASSWORD, TYPE, CLASS_NO, REGISTER_DATE)
		VALUEs (#{id}, #{name}, #{password}, 'T', -1, now())
	</insert>

	<select id="selectAllTeacher" resultType="user">
		SELECT
			NO, ID, NAME, PASSWORD, TYPE, CLASS_NO, REGISTER_DATE
		FROM 
			USER_ADMIN
		WHERE
			TYPE = "T"
	</select>

	<select id="selectTeacherNameById" resultType="String">
		SELECT
			NAME
		FROM
			USER_ADMIN
		WHERE
			ID = #{id}
	</select>

	<select id="selectClassByTeacherId" resultType="class1">
		SELECT
			NO, NAME, TEACHER_ID, SLOGAN
		FROM 
			CLASS
		WHERE 
			TEACHER_ID LIKE '%${teacherId}%'
	</select>

	<delete id="deleteTeacherByNo">
		DELETE FROM USER_ADMIN
		WHERE NO = #{no}
	</delete>

	<select id="selectTeacherByNo" resultType="user">
	SELECT
		NO, ID, NAME, PASSWORD, TYPE, CLASS_NO, REGISTER_DATE
	FROM 
		USER_ADMIN
	WHERE
		NO = #{no}
	</select>

	<insert id="insertStudent" parameterType="user">
	INSERT INTO USER_STUDENT (ID, PASSWORD, NAME, AGE, SEX, IDCARD_NO, MEMBERSHIP_NO, CLASS_NO, PHONE_NO, TELEPHONE_NO, QQ_NO, EMAIL, ADDRESS, IMAGE, TYPE, REGISTER_DATE, MODIFY_DATE)
	VALUES (#{id}, #{password}, #{name}, #{age}, #{sex}, #{idcardNo}, #{membershipNo}, #{classNo}, #{phoneNo}, #{telephoneNo}, #{qqNo}, #{email}, #{address}, #{image}, 'T', now(), now())
	</insert>

	<select id="selectAllStudentByClassNo" resultType="user">
	SELECT
		ID, PASSWORD, NAME, AGE, SEX, IDCARD_NO, MEMBERSHIP_NO, CLASS_NO, PHONE_NO, TELEPHONE_NO, QQ_NO, EMAIL, ADDRESS, IMAGE, TYPE, REGISTER_DATE, MODIFY_DATE
	FROM
		USER_STUDENT
	WHERE
		CLASS_NO = #{classNo}
	
	</select>
	
	<delete id="deleteStudentById">
	DELETE FROM USER_STUDENT
	WHERE ID = #{id}
	</delete>

	<update id="updateStudent" parameterType="user">
	UPDATE USER_STUDENT
	SET ID = #{id},
		PASSWORD = #{password},
		NAME = #{name},
		AGE = #{age},
		SEX = #{sex},
		IDCARD_NO = #{idcardNo},
		MEMBERSHIP_NO = #{membershipNo},
		CLASS_NO = #{classNo},
		PHONE_NO = #{phoneNo},
		TELEPHONE_NO = #{telephoneNo},
		QQ_NO = #{qqNo},
		EMAIL = #{email},
		ADDRESS = #{address},
		IMAGE = #{image},
		MODIFY_DATE = now()
	WHERE NO = #{no}
	</update>
</mapper>